---
import Layout from "../layouts/Layout.astro";
import SectionMain from "../components/SectionMain.astro";
import SectionAboutUs from "../components/SectionAboutUs.astro";
import SectionContact from "../components/SectionContact.astro";
import SectionOfSections from "../components/SectionOfSections.astro";
---

<Layout title="Mamparas Esmeralda">
  <div id="home" class="relative -top-12"></div>
  <SectionMain />
  <div id="productos" class="relative -top-12"></div>
  <SectionOfSections />
  <div id="empresa" class="relative -top-12"></div>
  <SectionAboutUs />
  <div id="contacto" class="relative -top-12"></div>
  <SectionContact />
</Layout>
