---
import IconFacebook from "./icons/IconFacebook.astro";
import IconInstagram from "./icons/IconInstagram.astro";
import { Image } from "astro:assets";
import localLogo from "../../public/images/logos/logo-blanco.webp";
import { CONTACT } from "../constants";
import Maps from "./Maps.astro";
---

<footer class="px-phone py-10 bg-[#333] flex flex-col">
  <p class="mt-2 italic text-lg py-3 text-white mx-auto uppercase mb-8">
    Nuestro local
  </p>
  <Maps />
  <div class="max-w-96 mx-auto w-full sm:max-w-3xl">
    <div class="flex justify-between items-center">
      <Image
        src={localLogo}
        alt="Logo vidrieria Mamparas esmeralda en blanco"
        class="max-w-40 object-contain w-fit"
      />
      <div class="flex gap-1">
        <a
          href={CONTACT.facebook}
          target="_blank"
          class="cursor-pointer hover:scale-105"
          aria-label="Conoce nuestro facebook"
        >
          <IconFacebook w="w-8" />
        </a>
        <a
          href={CONTACT.instagram}
          target="_blank"
          class="cursor-pointer hover:scale-105"
          aria-label="Conoce nuestro instagram"
        >
          <IconInstagram w="w-8" />
        </a>
      </div>
    </div>
    <div
      class="flex flex-col items-center text-white pt-4 mt-10 border-t-[1px] border-[#ddd] text-xs"
    >
      <p>Copyright by Mamparas esmeralda 2024</p>
      <p>
        Developed by <a
          target="_blank"
          href="https://www.instagram.com/juanpe.dev"
          class="underline italic text-juan">Juanpe.dev</a
        >
      </p>
    </div>
  </div>
</footer>
