---
import sections from "../content/sections/sections.json";
import Container from "./Container.astro";
interface Props {
  name: string;
}

const { name } = Astro.props;
const sectionsFiltered = sections.filter((section) => section.name == name);
const { title, subtitle } = sectionsFiltered[0];
---

<Container
  className="flex flex-col"
  backgroundUrl="/images/mamparas/principal.webp"
  pt="pt-28"
  pb="pb-10"
>
  <div class="sm:max-w-2xl sm:mx-auto text-center">
    <h1 class="text-4xl sm:text-5xl text-white font-bold mb-4">
      {title}
    </h1>
    <h3 class="text-[#aaa] capitalize">{subtitle}</h3>
  </div>
</Container>
