---
import IconClose from "./icons/IconClose.astro";
import IconFacebook from "./icons/IconFacebook.astro";
import IconMenu from "./icons/IconMenu.astro";
import IconInstagram from "./icons/IconInstagram.astro";
import IconX from "./icons/IconX.astro";
import { Image } from "astro:assets";
import localLogo from "../../public/images/logos/logo.webp";
---

<header class="fixed top-0 w-full bg-transparent z-50 shadow-sm">
  <div
    class="relative py-4 px-phone flex justify-between transition-[10s] items-center w-full sm:max-w-2xl sm:mx-auto"
    id="header"
  >
    <a href="/" class="">
      <Image
        src={localLogo}
        alt="Logo vidrieria Mamparas esmeralda"
        class="h-10 w-auto object-contain"
      />
    </a>
    <div class="hidden sm:flex">
      <ul class="gap-4 flex text-[var(--color-primary)] uppercase text-xs">
        <li><a href="/">Home</a></li>
        <li><a href="/#productos">Productos</a></li>
        <li><a href="/#empresa">La empresa</a></li>
        <li><a href="/#contacto">Contacto</a></li>
      </ul>
    </div>

    <div class="cursor-pointer sm:hidden transition-[0.5s]">
      <div class="menu-icon">
        <IconMenu />
      </div>
    </div>
    <div
      class="sm:hidden pb-20 bg-gradient-to-tr from-slate-600 to-primary p-10 flex flex-col translate-x-full justify-between absolute top-0 transition-[0.5s] right-0 w-5/6 h-screen bg-white z-50"
      id="menu"
    >
      <div class="menu-icon">
        <IconClose />
      </div>
      <ul class="flex gap-4 flex-col text-white font-bold text-xl" id="menu-a">
        <li><a href="/">Home</a></li>
        <li><a href="/#productos">Productos</a></li>
        <li><a href="/#empresa">La empresa</a></li>
        <li><a href="/#contacto">Contacto</a></li>
      </ul>
      <div>
        <div class="flex gap-4">
          <IconFacebook />
          <IconInstagram />
          <IconX />
        </div>
        <div></div>
      </div>
    </div>
  </div>
</header>

<script>
  const menuIcons = document.querySelectorAll(".menu-icon");
  const close = document.getElementById("close");
  const open = document.getElementById("open");
  const menu = document.getElementById("menu");
  const menuA = document.querySelectorAll("#menu-a li a");

  menuIcons.forEach((icon) => {
    icon.addEventListener("click", () => {
      menu.classList.toggle("translate-x-full");
    });
  });

  menuA.forEach((a) => {
    a.addEventListener("click", () => {
      menu.classList.toggle("translate-x-full");
      close.classList.toggle("hidden");
      open.classList.toggle("hidden");
    });
  });
</script>
