---
import IconClose from "./icons/IconClose.astro";
import IconFacebook from "./icons/IconFacebook.astro";
import IconMenu from "./icons/IconMenu.astro";
import IconInstagram from "./icons/IconInstagram.astro";
import IconX from "./icons/IconX.astro";
import { Image } from "astro:assets";
import localLogo from "../../public/images/logos/logo.webp";
import IconMail from "./icons/IconMail.astro";
---

<header class="fixed top-0 w-full bg-white z-50 shadow-sm">
  <section class="px-phone">
    <div
      class="relative py-1 flex justify-between transition-[0.5s] items-center w-full sm:max-w-3xl sm:mx-auto"
      id="header"
    >
      <a href="/#home">
        <Image
          src={localLogo}
          alt="Logo vidrieria Mamparas esmeralda"
          class="h-12 w-auto object-contain"
        />
      </a>
      <div class="hidden sm:flex">
        <ul class="gap-4 flex items-center text-primary uppercase text-xs">
          <li><a href="/#home">Home</a></li>
          <li><a href="/#productos">Productos</a></li>
          <li><a href="/#empresa">La empresa</a></li>
          <li><a href="/#contacto">Contacto</a></li>
          <li class="flex gap-1">
            <IconFacebook color="fill-slate-600" />
            <IconInstagram color="fill-slate-600" />
            <IconMail color="fill-slate-600" />
          </li>
        </ul>
      </div>

      <div class="cursor-pointer sm:hidden transition-[0.5s]">
        <div class="menu-icon">
          <IconMenu />
        </div>
      </div>
    </div>
    <!-- Menu mobile -->
    <div
      class="sm:hidden pb-20 bg-gradient-to-tr from-slate-600 to-primary py-2 px-phone flex flex-col translate-x-full justify-between absolute top-0 transition-[0.5s] right-0 w-3/4 h-screen bg-white z-50"
      id="menu"
    >
      <ul class="flex gap-4 flex-col text-white font-light text-xl" id="menu-a">
        <li class="flex justify-end pb-4 border-b-2 border-primary">
          <div class="menu-icon cursor-pointer">
            <IconClose />
          </div>
        </li>
        <li>
          <a href="/#home" class="flex rounded-lg p-1 hover:bg-[#3333]">Home</a>
        </li>
        <li>
          <a href="/#productos" class="flex rounded-lg p-1 hover:bg-[#3333]"
            >Productos</a
          >
        </li>
        <li>
          <a href="/#empresa" class="flex rounded-lg p-1 hover:bg-[#3333]"
            >La empresa</a
          >
        </li>
        <li>
          <a href="/#contacto" class="flex rounded-lg p-1 hover:bg-[#3333]"
            >Contacto</a
          >
        </li>
      </ul>
      <div>
        <div class="flex gap-4">
          <IconFacebook />
          <IconInstagram />
          <IconX />
        </div>
      </div>
    </div>
    <button
      class="top-0 left-0 fixed bg-shadow h-screen w-full cursor-pointer hidden menu-icon"
      id="menu-background"></button>
  </section>
</header>

<script>
  const menuIcons = document.querySelectorAll(".menu-icon");
  const menu = document.getElementById("menu");
  const menuA = document.querySelectorAll("#menu-a li a");
  const menuBackground = document.getElementById("menu-background");

  menuIcons.forEach((icon) => {
    icon.addEventListener("click", () => {
      menu.classList.toggle("translate-x-full");
      menuBackground.classList.toggle("hidden");
    });
  });

  menuA.forEach((a) => {
    a.addEventListener("click", () => {
      menu.classList.toggle("translate-x-full");
      menuBackground.classList.toggle("hidden");
    });
  });
</script>
