---
import sections from "../content/sections/sections.json";
import Container from "./Container.astro";
interface Props {
  name: string;
}

const { name } = Astro.props;
const sectionsFiltered = sections.filter((section) => section.name == name);
const { url, title, subtitle } = sectionsFiltered[0];
---

<Container backgroundUrl={url} className="flex flex-col" pt="pt-28">
  <h1 class="text-4xl text-white font-bold mb-2 text-rainbow">{title}</h1>
  <h2 class="text-[#eee]">{subtitle}</h2>
</Container>
