---
import sections from "../content/sections/sections.json";
import Container from "./Container.astro";
import H2 from "./H2.astro";
interface Props {
  name: string;
}

const { name } = Astro.props;
const sectionsFiltered = sections.filter((section) => section.name == name);
console.log(sectionsFiltered);
const { title, subtitle } = sectionsFiltered[0];
---

<Container
  className="flex flex-col"
  backgroundUrl="/images/mamparas/principal.webp"
  pt="pt-28"
  pb="pb-10"
>
  <h1 class="text-4xl sm:text-5xl text-white font-bold mb-4">
    {title}
  </h1>
  <h3 class="text-[#aaa] capitalize">{subtitle}</h3>
</Container>
