---
import sections from "../content/sections/sections.json";
import CardSection from "./CardSection.astro";
---

<div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
  {
    sections.map((section) => {
      const name = section.name;
      const title = section.title;
      const url = section.url;
      return <CardSection name={name} title={title} url={url} />;
    })
  }
</div>
