---
import CardProduct from "./CardProduct.astro";
import productos from "../content/products/products.json";
interface Props {
  name: string;
}

const { name } = Astro.props;
const products = productos[name];
---

<div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
  {
    products?.map((product) => {
      const { title, description, url, finish, measures, glass } = product;
      return (
        <CardProduct
          name={name}
          description={description}
          title={title}
          url={url}
          finish={finish ?? undefined}
          measures={measures ?? undefined}
          glass={glass ?? undefined}
        />
      );
    })
  }
</div>
