---
import sections from "../content/sections/sections.json";
import CardSection from "./CardSection.astro";
---

<div class="w-full flex flex-col gap-4 sm:max-w-2xl sm:mx-auto">
  {
    sections.map((section) => {
      const name = section.name;
      const title = section.title;
      const url = section.url;
      return <CardSection name={name} title={title} url={url} />;
    })
  }
</div>
