<div class="mb-10">
  <iframe
    title="Local mamparas esmeralda"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.6508232244532!2d-59.13895309999999!3d-37.32709799999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f9a0bd3f4ab%3A0x6be3009a726635c9!2sSan%20Mart%C3%ADn%20436%2C%20B7000GKJ%20Tandil%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1721346301546!5m2!1ses!2sar"
    height="400"
    style="border:0;"
    class="rounded-lg overflow-hidden w-full mx-auto max-w-96 sm:mb-10 sm:max-w-3xl"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
