---
import Container from "./Container.astro";
import H2 from "./H2.astro";
---

<Container className="flex justify-center">
  <div class="mx-auto max-w-96 w-full flex justify-center sm:max-w-3xl">
    <form
      action="https://formsubmit.co/mamparasesmeraldatandil@gmail.com"
      method="POST"
      class="flex flex-col gap-4 w-full max-w-96 rounded-xl text-[#302916dd]"
    >
      <H2 color="text-rainbow-primary" m="mb-2">Contacto</H2>
      <p class="mt-2 italic text-sm py-3">Envianos un mensaje!</p>
      <input
        required
        type="text"
        name="name"
        placeholder="Nombre"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      />
      <input
        required
        type="email"
        name="email"
        placeholder="Correo electronico"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      />

      <textarea
        required
        name="comment"
        cols="15"
        rows="5"
        placeholder="Descripcion"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      ></textarea>
      <button
        type="submit"
        class="bg-primary rounded-full py-3 text-white text-sm">Enviar</button
      >
    </form>
  </div>
</Container>
