---
import Container from "./Container.astro";
import Galery from "./Galery.astro";
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<Container backgroundUrl="../../public/images/barandas/principal.jpg">
  <div class="sm:max-w-2xl sm:mx-auto">
    <h2 class="font-bold text-3xl text-white mb-10 text-center">
      Nuestro trabajo
    </h2>

    <Galery name={name} />
  </div>
</Container>
