---
import Container from "./Container.astro";
import H2 from "./H2.astro";
import ListOfProducts from "./ListOfProducts.astro";

interface Props {
  name: string;
}

const { name } = Astro.props;
---

<Container>
  <div class="max-w-96 mx-auto sm:max-w-3xl relative">
    <H2 color="text-rainbow-primary text-center capitalize" m="mb-20 mt-20"
      >{name}</H2
    >
    <a
      href="/#home"
      class="bg-white shadow-xl absolute left-0 top-0 rounded-full p-2 flex justify-center items-center transition-[0.5s] hover:scale-110"
    >
      <svg width="17" height="17" viewBox="0 0 24 24"
        ><path
          fill="#333"
          d="m8.82 12l7.715 7.716q.22.22.218.528t-.224.529q-.221.221-.529.221t-.529-.221L7.83 13.136q-.243-.242-.354-.54q-.112-.298-.112-.596t.112-.596t.354-.54l7.64-7.644q.221-.221.532-.218q.31.003.531.224t.222.529t-.222.528z"
        ></path></svg
      >
    </a>
    <ListOfProducts name={name} />
  </div>
</Container>
