---
import Container from "./Container.astro";
import Galery from "./Galery.astro";
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<Container backgroundUrl="/images/barandas/principal.webp">
  <div class="max-w-96 mx-auto sm:max-w-3xl">
    <h2 class="font-bold text-3xl text-white mb-10 text-center">
      Nuestro trabajo
    </h2>

    <Galery name={name} />
  </div>
</Container>
