---
import Container from "./Container.astro";
import H2 from "./H2.astro";
---

<Container>
  <div class="sm:max-w-2xl sm:mx-auto w-full">
    <H2 className="text-rainbow">Contacto</H2>
    <p class="mt-2 italic text-sm py-3">Envianos un mensaje!</p>
    <form
      action="https://formsubmit.co/valenruizph@gmail.com"
      method="POST"
      class="flex flex-col gap-4 w-full max-w-96 rounded-xl mt-10 bg-white text-[#302916dd]"
      id="contacto"
    >
      <input
        type="text"
        name="name"
        placeholder="Nombre"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      />
      <input
        type="email"
        name="email"
        placeholder="Correo electronico"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      />

      <textarea
        name="comment"
        cols="15"
        rows="5"
        placeholder="Descripcion"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      ></textarea>
      <button
        type="submit"
        class="bg-[var(--color-primary)] rounded-full py-3 text-white"
        >Enviar</button
      >
    </form>
  </div>
</Container>
