---
import IconWhatsapp from "./icons/IconWhatsapp.astro";
import { CONTACT } from "../constants";
---

<a
  href={CONTACT.whatsapp}
  target="_blank"
  aria-label="Envianos un mensaje desde whatsapp!"
  class="fixed right-6 bottom-6 cursor-pointer transition-[0.5s] p-2 bg-[#25d366] hover:bg-[#1faf37d5] hover:scale-[1.1] z-[100] rounded-full"
>
  <IconWhatsapp />
</a>
